$Very-dark-blue-bg-main: hsl(233, 47%, 7%);
$Dark-desaturated-blue-card-bg: hsl(244, 38%, 16%);
$Soft-violet-accent: hsl(277, 64%, 61%);
$Soft-violet-accent-transparent: hsla(277, 90%, 19%, 0.616);
$White: hsl(0, 0%, 100%);
$Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
$Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);